* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #222222;
    
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-flow: nowrap column;
}

.logo img {
    margin: 60px 0;
    width: 100px;
}

.formulario {
    max-width: 500px;
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
}

.formulario input,
.formulario button {
    border: none;
    border-radius: 10px;
    padding: 8px;
}

::-webkit-input-placeholder {
   color: #c2c2c2;
}

.formulario textarea {
    border: none;
    border-radius: 10px;
    padding: 8px;
    height: 100px;
}

.formulario button {
    color: #fff;
    background-color: #7855c3;
}

.formulario button:hover,
.formulario button:focus{
    cursor: pointer;
    background-color: #523b85;
    outline: 2px solid #7855c3;
}